<div class="row">
	<div class="col-md-6">
		<img src="images/logo.png" class="logo" />
	</div>
	<div class="col-md-6">
		<strong class="pull-right" style="line-height:75px; font-size:25px;">Your application</strong>
	</div>
 </div>
 

  <div class="page-header">
	<h1>Sign In </h1>
</div>	
	<form class="form-horizontal" name="studentLoginForm" role="form" ng-submit="submitForm(studentLoginForm.$valid)" novalidate>				
		 <div class="row">
			<div class="form-group col-md-4">
				<label for="userName">Username:</label>
				<input type="text" required ng-model="formData.userName" class="form-control" id="userName" placeholder="Username">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="password">Password:</label>
				<input type="password" ng-model="formData.password" required class="form-control" id="password" placeholder="Password">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<br />
				<button class="btn btn-primary">Sign In</button>
			</div>
		</div>
	</form>

	
